<h1>Register</h1>


<form action="/register" method="post">
<label for="name">Name: </label>
<input type="name" name="name" id="name">
<label for="email">Email: </label>
<input type="email" name="email" id="email">
<label for="password">Password: </label>
<input type="password" name="password" id="password">
<button type="submit" name="submit">Register</button>
</form>
<hr>
<a href="/auth/google" target="_blank">SIGNUP WITH GOOGLE</a>
<hr>
<a href="/login">Login</a>